<app-header></app-header>

<div class="container d-flex justify-content-center mt-5">
  <div class="card shadow-lg p-4 text-center" style="width: 40%;">
    <h2 class="text-danger mb-4">Delete Claim</h2>

    <form #deleteForm="ngForm" (ngSubmit)="deleteClaim(deleteForm)">
      <div class="mb-3">
        <label for="claimId" class="form-label">Claim ID</label>
        <input ngModel name="claimId" type="number" class="form-control" id="claimId" required/>
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-danger btn-lg">Delete Claim</button>
      </div>
    </form>
  </div>
</div>
