<div class="sidebar">
  <h3 class="sidebar-title">Dashboard</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a routerLink="/customers"><i class="bi bi-people"></i> Customers</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/agent"><i class="bi bi-person-badge"></i> Agents</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/policy"><i class="bi bi-card-checklist"></i> Policies</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/list-claims"><i class="bi bi-file-earmark-text"></i> Claims</a>
    </li>
  </ul>
</div>
